# 8 MHz clock
LOCATE COMP "clk_8m" SITE "U18";
IOBUF PORT "clk_8m" IO_TYPE=LVCMOS33;

# LEDs
LOCATE COMP "led[0]" SITE "E3";
LOCATE COMP "led[1]" SITE "D3";
LOCATE COMP "led[2]" SITE "C3";
LOCATE COMP "led[3]" SITE "C4";
LOCATE COMP "led[4]" SITE "C2";
LOCATE COMP "led[5]" SITE "B1";
LOCATE COMP "led[6]" SITE "B20";
LOCATE COMP "led[7]" SITE "B19";
LOCATE COMP "led[8]" SITE "A18";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[8]" IO_TYPE=LVCMOS33;

# Buttons
# [7:0] = UDLRBAstartsel
LOCATE COMP "btn[7]" SITE "E1"; # start
LOCATE COMP "btn[6]" SITE "D2"; # select
LOCATE COMP "btn[5]" SITE "D1"; # a
LOCATE COMP "btn[4]" SITE "E2"; # b
LOCATE COMP "btn[3]" SITE "F2"; # right
LOCATE COMP "btn[2]" SITE "G2"; # left
LOCATE COMP "btn[1]" SITE "C1"; # down
LOCATE COMP "btn[0]" SITE "F1"; # up

IOBUF PORT "btn[0]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[1]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[2]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[3]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[4]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[5]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[6]" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn[7]" IO_TYPE=LVCMOS33 PULLMODE=UP;

# Generic IO
# see https://github.com/mattvenn/hackaday-supercon-hub75-cartridge for PCB details
# on this pcb addr[4] isn't connected on the pcb, if need 5 bit address, bodge wire from pin next to g0 to the spare pad on hub75 socket
LOCATE COMP "hub75_data[5]" SITE "C8"; # b1
LOCATE COMP "hub75_data[4]" SITE "D6"; # g1
LOCATE COMP "hub75_data[3]" SITE "A8"; # r1
LOCATE COMP "hub75_data[2]" SITE "C9"; # b0
LOCATE COMP "hub75_data[1]" SITE "A7"; # g0
LOCATE COMP "hub75_data[0]" SITE "A9"; # r0
LOCATE COMP "hub75_addr[4]" SITE "B8"; # bodge this pin
LOCATE COMP "hub75_addr[3]" SITE "A5";
LOCATE COMP "hub75_addr[2]" SITE "A6";
LOCATE COMP "hub75_addr[1]" SITE "B6";
LOCATE COMP "hub75_addr[0]" SITE "C7";
LOCATE COMP "hub75_clk"     SITE "C6";
LOCATE COMP "hub75_le"      SITE "C5";
LOCATE COMP "hub75_blank"   SITE "B5";

IOBUF PORT "hub75_data[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_data[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_data[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_data[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_data[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_data[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_addr[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_addr[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_addr[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_addr[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_addr[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_clk"     IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_le"      IO_TYPE=LVCMOS33;
IOBUF PORT "hub75_blank"   IO_TYPE=LVCMOS33;
