# 48 MHz clock
LOCATE COMP "clk" SITE "A9";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

# LEDs
LOCATE COMP "led[0]" SITE "K4";	# R
LOCATE COMP "led[1]" SITE "M3";	# G
LOCATE COMP "led[2]" SITE "J3";	# B

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

# Button
LOCATE COMP "btn" SITE "J17";
IOBUF PORT "btn" IO_TYPE=LVCMOS33 PULLMODE=UP;

# UART
LOCATE COMP "uart_rx" SITE "N17";
LOCATE COMP "uart_tx" SITE "M18";

IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;

# Flash
LOCATE COMP "flash_mosi" SITE "U18";
LOCATE COMP "flash_miso" SITE "T18";
LOCATE COMP "flash_wp" SITE "R18";
LOCATE COMP "flash_hold" SITE "N18";
LOCATE COMP "flash_sck" SITE "U16";
LOCATE COMP "flash_cs" SITE "U17";

IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_wp" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_hold" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_sck" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_cs" IO_TYPE=LVCMOS33;

# USB
LOCATE COMP "usb_dp" SITE "N1";
LOCATE COMP "usb_dm" SITE "M2";
LOCATE COMP "usb_pu" SITE "N2";

IOBUF PORT "usb_dp" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_dm" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_pu" IO_TYPE=LVCMOS33;

# Boot
LOCATE COMP "programn" SITE "V17";
IOBUF PORT "programn" IO_TYPE=LVCMOS33;
